.mensaje2{
	font-size:15px;
	font-weight: bold;
    color: #FFFFFF;
    font-family: 'Dancing Script', cursive;
	
}
.mensaje_p{
	font-weight: bold;
    background-color: #6C451C;
    font-family: 'Dancing Script', cursive;
    padding: 30px;
	height:*;
	width:900px;
    margin-top:20px;
	text-align:left;
	
	border-radius: 15px
}
.mensaje {
    text-align: center;
    font-size: 30px;
	color: #FFFFFF;
    
}
.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 5px;
    margin-top: 10px;
}

.item {
    text-align: center;
    width: 250px;
    margin: 20px;
}

.item img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.item h3 {
    margin: 10px 0 5px;
    font-size: 18px;
    color: #333;
}

.item p {
    font-size: 16px;
    color: #555;
}
.eslogan {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    margin: 40px;
}